.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  z-index: 1;
  padding: 0 42px;

  img {
    margin: 0 16px 0 0;
  }

  &__section {
    display: flex;
    align-items: center;
  }

  .heading {
    margin: 0;
  }
}
