.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  color: black;
  font-weight: 300;

  img {
    margin: 0 16px;
  }

  &__section {
    display: flex;
    align-items: center;
  }
}
