@import "../../styles/index";

.button {
  @include button();

  &__title,
  &__icon {
    margin: auto 4px;
  }

  &--spacious {
    padding: 4px 8px;
    min-width: 88px;
  }

  &--tiny-margins {
    margin: 4px;
  }
}
