<p class="heading">Login Form</p>
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
  <input name="email" type="email" placeholder="Email" ngModel required emailValidator #email="ngModel"><br>
  <div class="error-msg" *ngIf="email.errors?.['required'] && email.touched">
    Email is required.
  </div>
  <div class="error-msg" *ngIf="email.errors?.['validEmailFormat']">
    Email is not valid
  </div>
  <input name="password" type="password" placeholder="Password" ngModel required #password="ngModel"><br>
  <div class="error-msg" *ngIf="password.errors?.['required'] && password.touched">
    Password is required.
  </div>
  <button>Submit</button>
</form>
