<p>Courses:</p>
<ul>
  <li *ngFor="let course of courses">
    <app-course-card
      [course]="{
        id: course.id,
        title: course.title,
        description: course.description,
        creationDate: course.creationDate,
        duration: course.duration,
        authors: course.authors
      }"
      [isEditable]="true">
      <section class="course-card__buttons">
        <app-button
          (buttonClickEvent)="showCourse($event)"
          class="course-card__button" [cfg]="{
          id: course.id,
          title: 'Show course',
          tinyMargins: true
        }"></app-button>
        <app-button
          (buttonClickEvent)="editCourse($event)"
          class="course-card__button" [cfg]="{
          id: course.id,
          icon: 'pen',
          tinyMargins: true,
          visible: isEditable
        }"></app-button>
        <app-button
          (buttonClickEvent)="removeCourse($event)"
          class="course-card__button" [cfg]="{
          id: course.id,
          icon: 'trash',
          tinyMargins: true,
          visible: isEditable
        }"></app-button>
      </section>
    </app-course-card>
  </li>
</ul>
