@import "./fonts";
@import "./variables";
@import "mixins.scss";

button {
  @include button();
}


input[type=text],
input[type=email],
input[type=password] {
  @include fontstyle('paragraph');

  border: none;
  border-bottom: 2px solid $forms;
  padding: 4px 8px;
  margin: 4px 0 16px 0;

  &:focus-visible {
    @include outline();
  }
}
